#map {
    height: 50%;

}

html, body {
    height:100%;
    margin: 0;
    padding: 0;
}
/*SETTING BACKGROUND*/ 

body {
    background-image: url("../images/1358814.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;



}


#jumbo {
    
  
    font-family: 'Kaushan Script', cursive; 
    color:  #00f7ff;
    text-shadow: 2px 2px hsl(327, 100%, 50%);
    font-size: 100px;
    background: none;
}
  
#h1{
    font-size: 100px;
    font-weight: 200;
}
#h1{
    font-size: 100px;
    font-weight: 200;
}
#h2{
    font-size: 40px;
    font-weight: 200;
}
#h4{
    font-size: 40px;
    font-weight: 200;
}
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

