/*SETTING BACKGROUND*/ 


#jumbo {
    background-color: #00f7ff;
}

#h1{
    font-size: 100px;
    font-weight: 200;

}


#h2{
    font-size: 40px;
    font-weight: 200;
}


#map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}